[Bb]in/
[Oo]bj/
[Pp]ack/
test-results/

/src/MonoDevelop.EmmetPlugin/MonoDevelop.Emmet.*.addin.xml
/src/MonoDevelop.EmmetPlugin/MonoDevelop.EmmetPlugin.*.csproj
/src/MonoDevelop.EmmetPlugin/MonoDevelop.EmmetPlugin.*.sln

.*
!.gitignore
!.gitattributes

*.suo
*.pidb
*.userprefs
*.user
/Makefile
*.pdb
*.[Cc]ache
*~

# Emacs
*.elc
emacs/deps
emacs/tmp

.DS_Store

